API_ID=20496084 # get this value from my.telegram.org
API_HASH=dba89b2b3c185bb981a331ce6f2bfd93 # get this value from my.telegram.org
BOT_TOKEN=6124580498:AAGkk8J4-FR-77kIK5DwG3lpDsiNyoZDlKw # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://kaapradb:12345678pass@cluster0.lrpcuef.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001949078000 # get this value from in your log group 
MUSIC_BOT_NAME=ThanosMusicbot # your music bot name 
STRING_SESSION=BQCjOIiRQRmP6_UxSPiaZhmK0xyrBV4RSEs5YF47VbVFWuUgLHAD7WxXVsZLW7xqw43-BgVj7ont7OI_K_JnwFA0Jzx-RkJ4qvkLUVHAZLx2s3gZc6I6KBEfHtIn7N6sxgIS9-Ksoj14nA64C6o-QAIfCQxq3yfovjnZg-5UfRRoAuWn3yw4NQMjsjaW3cNDFha_zynUaiY13eh0-2wzua7fEWSDHtxEa-6_F0cw8cqN5PJlnqgzOqEP0d2-_krWUzQDPuHQbENbE83MWX0PWhgszcDio95aPiehBY-WJFgDj_zC0ZTLOZ9h3Ued3ZgbnHpL-zyKG_nfS_I02nyNn6yhAAAAAXikDvYA # get this value from @yukkistringbot
OWNER_ID=6318984950

             
